source "Kconfig.zephyr"

config SHG_SHELL_PRODUCTION
	bool "Enable production shell commands"
	default y

config SYSTEM_MGR_LOG_LEVEL
	int "System Manager log level"
	default 3

config STORAGE_MGR_LOG_LEVEL
	int "Storage Manager log level"
	default 3
